* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #fbc02d !important;
}

input,
select,
textarea {
  color: #ffffff;
}

textarea:focus,
input:focus {
  color: #ffffff;
}

#links,
#links > * {
  color: #282c34 !important;
}

#register-button {
  background-color: #fbc02d;
  color: #282c34;
}
